.sign-container {
    background-color: #000;
    color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    padding-top: 50px;
    height: 500px;
    border: 1px solid white;
    border-radius: 50px;
  }
  
  .sign-container h1 {

    font-size: 2rem;
    margin-bottom: 3rem;
  }
  
  .input-field {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
  }
  
  .sign-button {
    position: absolute;
    bottom: 100px;
    width: 100px;
    padding: 0.75rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
    text-transform: lowercase;
    border: 1px solid black;
    transition: all 0.3s;
  }
  
  .sign-button:hover {
    background-color: #444;
    border: 1px solid white;
  }
  
  .alternative-action {
    position: absolute;
    bottom: 150px;
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  
  .alternative-action a {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
  }