.chat-card {
  background-color: #000000;
  border: 1px solid white;
  padding-inline: 1rem;
  border-radius: 0.5rem;
  position: relative; /* Relative to position date and button */
  cursor: pointer;
}

.chat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.chat-card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}

.chat-card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chat-card-date, .chat-card-participants {
  font-size: 0.7rem;
  color: #9ca3af;
}

.chat-card-description {
  color: #d1d5db;
  margin-bottom: 1rem;
  width: 65%;
}

.chat-card-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;  /* Position the button absolutely */
  bottom: 1rem;
  right: 1rem;
}

.chat-card-button {
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  font-weight: bold;
  width: 100px;
  border: 1px solid black;
  cursor: pointer;
}

.chat-card-button-joined {
  border-color: #9ca3af;
  background-color: #000000;
  color: white;
  cursor:default;
}

.chat-card-button-join {
  background-color: white;
  color: #1f2937;
}

.page-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.page-subtitle {
  margin-bottom: 1.5rem;
}
